@charset "UTF-8";

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff") format("woff"), url("../fonts/Heebo-Black.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff") format("woff"), url("../fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff") format("woff"), url("../fonts/Heebo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff") format("woff"), url("../fonts/Heebo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff");
  src: url("../fonts/icons.woff") format("woff"), url("fonts/icons.ttf2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

._icon-insta:before {
  content: "";
}

._icon-linkedin:before {
  content: "";
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: "Heebo";
  color: #21243D;
  font-size: 16;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 90px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 12px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 47px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 145%;
  background-color: #FF6464;
  color: white;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 136.3636363636%;
}

.text,
.article__text p {
  line-height: 143.75%;
}

.title-posts {
  font-size: 22px;
  font-weight: 400;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin: 0 17px;
  font-size: 30px;
  color: inherit;
}

.header {
  position: relative;
  z-index: 100;
}

.header__content {
  max-width: 1044px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  padding: 10px 0;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  margin-left: 33px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link._active {
  color: #FF6464;
}

.icon-menu {
  display: none;
}

.hello {
  padding: 38px 0 70px 0;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__content {
  padding: 18px 0 0 0;
  margin-right: 110px;
}

.hello__content *:last-child {
  margin-bottom: 0;
}

.hello__title {
  margin-bottom: 20px;
}

.hello__text {
  margin-bottom: 35px;
}

.hello__avatar {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  -webkit-box-shadow: -5px 13px 0 0 #EDF7FA;
          box-shadow: -5px 13px 0 0 #EDF7FA;
}

.recent-posts {
  background: #EDF7FA;
  padding: 0 0 13px 0;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 69px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin-bottom: 17px;
}

.recent-posts__items {
  margin: 0 -10px;
}

.recent-posts__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 22px;
  font-weight: 400;
}

.recent-posts__view-all {
  color: #00A8CC;
}

.recent-post {
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}

.recent-post__info {
  font-size: 18px;
  line-height: 144.4444444444%;
  margin: 0 0 15px 0;
}

.recent-post__info span {
  font-size: 22px;
  margin: 0 10px;
}

.recent-post__title {
  display: inline-block;
  margin: 0 0 17px 0;
  font-size: 26px;
  line-height: 146.1538461538%;
  font-weight: 700;
  color: #21243D;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.recent-post__title:hover {
  color: #FF6464;
}

.featured-works {
  margin: 30px 0 80px 0;
}

.featured-works__title {
  margin-bottom: 20px;
}

.works__items {
  padding-bottom: 60px;
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.works__category {
  color: #8695A4;
  font-size: 20px;
  margin: 0 0 0 25px;
}

.works__image {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  min-height: 180px;
  border-radius: 6px;
  overflow: hidden;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.works__item {
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__text {
  max-width: 415px;
}

.works__title {
  color: inherit;
  font-size: 30px;
  line-height: 146.6666666667%;
  font-weight: 700;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.works__year {
  height: 25px;
  color: white;
  padding: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 18px;
  background-color: #142850;
  border-radius: 16px;
}

.works__main-title {
  margin-bottom: 25px;
}

.footer {
  text-align: center;
  padding: 50px 0;
}

.footer__copy {
  font-size: 14px;
}

.footer__social {
  margin-bottom: 26px;
}

.blog {
  padding-bottom: 50px;
}

.blog__title {
  margin-bottom: 50px;
}

.blog__category {
  color: #8695A4;
}

.blog__info {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.blog__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 0 0 30px 0;
  margin-bottom: 30px;
}

.blog__item:last-child {
  margin: 0;
}

.blog__separator {
  margin: 0 15px;
}

.blog__text {
  max-width: 682px;
}

.blog__article-name {
  font-size: 30px;
  font-weight: 500;
  line-height: 146.6666666667%;
  color: inherit;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.article {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px 30px;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.article__text p {
  max-width: 681px;
  margin-bottom: 20px;
}

.article__text img {
  max-width: 100%;
  margin-bottom: 20px;
}

.article__title {
  font-size: 43px;
  font-weight: 700;
  line-height: 147.0588235294%;
  margin-bottom: 30px;
}

.article__year {
  font-size: 18px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  height: 25px;
  padding: 0 10px;
  background-color: #FF7C7C;
  border-radius: 16px;
  margin-right: 17px;
}

.article__category {
  font-size: 20px;
  font-weight: 400;
  color: inherit;
  line-height: 150%;
}

@media (min-width: 767px) {
  .social__item:hover {
    color: #ff6464;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .recent-posts {
    padding: 0 0 23px 0;
  }

  .recent-posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .works__body {
    margin: 0 0 0 18px;
  }

  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .works__title:hover {
    color: #ff6464;
  }

  .blog__article-name:hover {
    color: #ff6464;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #dd3b3b;
  }

  .menu__link:hover {
    color: #FF6464;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 882px) {
  ._container {
    max-width: 970px;
  }

  .hello {
    padding: 0 0 70px 0;
  }

  .hello__content {
    padding: auto;
  }
}

@media (max-width: 767px) {
  .page {
    padding: 30px 0 0 0;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .title {
    font-size: 30px;
  }

  .menu__body {
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .menu__body._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__list {
    height: 50px;
  }

  .menu__item {
    margin: 0 0 10px 0;
  }

  .menu__item:last-child {
    margin: 0;
  }

  .menu__link {
    font-size: 40px;
    text-align: center;
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  .hello__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .hello {
    padding: 0 0 60px 0;
  }

  .hello__content {
    padding-top: 40px;
    margin-right: 0;
  }

  .hello__avatar {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 170px;
    height: 170px;
  }

  .recent-posts__header {
    height: 60px;
  }

  .recent-posts__title {
    font-size: 18px;
    text-align: center;
  }

  .recent-posts__view-all {
    display: none;
  }

  .recent-post__title {
    margin: 0 0 12px 0;
  }

  .featured-works {
    padding: 30px 0 30px 0;
  }

  .featured-works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding: 30px 0 30px 0;
  }

  .featured-works__items .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin-right: 20px;
  }

  .works__items {
    padding-bottom: 30px;
  }

  .works__image {
    padding: 0 0 60% 0;
    margin-bottom: 18px;
  }

  .works__title {
    font-size: 24px;
  }

  .works__main-title {
    margin-bottom: 13px;
  }

  .footer {
    padding: 30px 0;
  }

  .blog {
    padding-bottom: 30px;
  }

  .blog__title {
    margin-bottom: 20px;
  }

  .blog__info {
    font-size: 16px;
  }

  .article__title {
    font-size: 26px;
    margin-bottom: 23px;
  }

  .article__category {
    font-size: 18px;
  }
}

@media (min-width: 767px) and (max-width: 767px) {
  .blog__article-name {
    font-size: 26px;
  }
}