.footer{
    text-align: center;
    padding: 50px 0;
    @media (max-width: $md3 + px){
        padding: 30px 0;
    }
    &__content{}
    &__copy{
        font-size: 14px;
    }
    &__social{
        margin-bottom: 26px;
    }
}
